.card-3d {
  /* Imposta una transizione rapida per ammorbidire il tracciamento del mouse */
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
  /* Attiva il render 3D per gli elementi interni */
  transform-style: preserve-3d;
  will-change: transform;
  /* Rimuove lo sfarfallio in alcuni browser */
  backface-visibility: hidden;
  /* Un bordino opzionale per staccare la carta dallo spessore */
  border: 1px solid #34342f;

  width: 88%;
  aspect-ratio: 1/1;

  /* EFFETTO MATTONCINO: 10 strati solidi (grigio #34342f) + 1 strato sfocato */
  box-shadow:
    1px 1px 0px #34342f,
    2px 2px 0px #34342f,
    3px 3px 0px #34342f,
    4px 4px 0px #34342f,
    5px 5px 0px #34342f,
    6px 6px 0px #34342f,
    7px 7px 0px #34342f,
    8px 8px 0px #34342f,
    9px 9px 0px #34342f,
    10px 10px 0px #34342f,
    15px 15px 20px rgba(0, 0, 0, 0.15),

    inset 8px 8px 0px rgba(0, 0, 0, 0.4), /* Ombra interna */
    4px 4px 0px rgba(255, 255, 255, 0.05);
}

.card-3d:hover {
  /* In hover, lo spessore solido resta intatto, ma l'ombra sfocata finale si allarga! */
  box-shadow:
    1px 1px 0px #34342f,
    2px 2px 0px #34342f,
    3px 3px 0px #34342f,
    4px 4px 0px #34342f,
    5px 5px 0px #34342f,
    6px 6px 0px #34342f,
    7px 7px 0px #34342f,
    8px 8px 0px #34342f,
    9px 9px 0px #34342f,
    10px 10px 0px #34342f,
    20px 20px 30px rgba(0, 0, 0, 0.3) !important;
  z-index: 10;
}

/* Fa "uscire" il contenuto dallo schermo sopra al mattoncino! */
.card-3d .card-body {
  transform: translateZ(10px);
}

.card-3d .card-img-top {
  transform: translateZ(10px);
}

.card-3d-background {
  background-image: url("../img/body/homepage/sfondo1-card.png");
}

.card-title,
.card-text {
  color: var(--color-font);
}

.card-body {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.vaso-fiore {
  position: absolute;
  bottom: -50px;
  left: -25px;
  width: 90px;
}

.occhio {
  position: absolute;
  bottom: -30px;
  left: 250px;
  width: 75px;
}

.accendino {
  position: absolute;
  bottom: 270px;
  left: 250px;
  width: 100px;
}

@media (min-width: 452px) {
  .card-body {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }

  .vaso-fiore {
    width: 115px;
  }
}

@media (min-width: 576px) {
  .card-body {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }

  .vaso-fiore {
    width: 115px;
  }
}