/* Variabili globali CSS */
:root {
  /* Colori */
  --ux-global-color-background: #1a3323;
  --ux-global-color-accent-1: #446a1b;
  --ux-global-color-accent-2: #727272;

  --ux-nether-color-background: #531f1d;
  --ux-nether-color-accent: #a51f20;

  --ux-end-color-background: #3f1e54;
  --ux-end-color-accent: #85647a;

  --ux-dark-color: #232323;

  --ux-border-btn: 5px;

  /* Tipografia */
  --color-font: #e4d8d4;
  --ux-font-DMSans: "DMSans", sans-serif;
  --ux-font-Minercraftory: "Minercraftory", sans-serif;

  /* Font iPhoneSE */
  --ux-txt-h1: 400 2rem/3.5rem var(--ux-font-Minercraftory);
  --ux-txt-h2: 400 2rem/3.1rem var(--ux-font-DMSans);
  --ux-txt-h3: 400 1.5rem/2.1rem var(--ux-font-DMSans);
  --ux-txt-h4: 400 1rem/1.5rem var(--ux-font-DMSans);
  --ux-txt-h5: 400 1rem/1.5rem var(--ux-font-DMSans);
  /* Duplicato perchè da desktop a mobile abbiamo scalato da di uno. Ad esempio h1 diventa h2 */
  --ux-txt-body: 400 1rem/1.5rem var(--ux-font-DMSans);

  /* Font da 576 */
  --ux-txt-h1-576: 400 2.25rem/4rem var(--ux-font-Minercraftory);
  --ux-txt-h3-576: 400 1.6rem/2.4rem var(--ux-font-DMSans);
  --ux-txt-body-576: 400 1.3rem/2rem var(--ux-font-DMSans);
}

/* FONT */
@font-face {
  font-family: "Minercraftory";
  src: url("../font/Minercraftory.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  src: url("../font/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "DMSans";
  src: url("../font/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "DMSans";
  src: url("../font/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  background-color: var(--ux-dark-color);
  color: var(--color-font);
}

/* BOTTONI */
/* Bottoni - prima versione (sfondo bianco e scritta verde) */
.btn-menu {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--ux-global-color-accent-1);
  --bs-btn-bg: var(--color-font);
  --bs-btn-border-color: var(--color-font);
  --bs-btn-border-radius: var(--ux-border-btn);

  --bs-btn-hover-color: var(--color-font);
  --bs-btn-hover-bg: var(--ux-global-color-accent-1);
  --bs-btn-hover-border-color: var(--ux-global-color-accent-1);

  --bs-btn-focus-shadow-rgb: var();

  --bs-btn-active-color: var(--color-font);
  --bs-btn-active-bg: var(--ux-global-color-accent-1);
  --bs-btn-active-border-color: var(--ux-global-color-accent-1);
}

.pushable {
  background: var(--ux-global-color-accent-1);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.pushable:hover,
.pushable.active {
  background: var(--color-font);
}

.front {
  display: block;
  padding: 1em 2em;
  border-radius: 12px;
  font-size: 0.8rem;
  font-family: Minercraftory, sans-serif;
  background: var(--color-font);
  color: var(--ux-global-color-accent-1);
  transform: translateY(-6px);
}

.pushable:hover .front,
.pushable.active .front {
  background: var(--ux-global-color-accent-1);
  color: var(--color-font);
}

.pushable:active .front {
  transform: translateY(-2px);
}

/* Bottoni - seconda versione (sfondo verde e scritta bianca) */
.btn-menu.inverted {
  --bs-btn-color: var(--color-font);
  --bs-btn-bg: var(--ux-global-color-accent-1);
  --bs-btn-border-color: var(--color-font);

  --bs-btn-hover-color: var(--ux-global-color-accent-1);
  --bs-btn-hover-bg: var(--color-font);
  --bs-btn-hover-border-color: var(--ux-global-color-accent-1);

  --bs-btn-active-color: var(--ux-global-color-accent-1);
  --bs-btn-active-bg: var(--color-font);
  --bs-btn-active-border-color: var(--ux-global-color-accent-1);
}

.pushable.inverted {
  background: var(--color-font);
}

.pushable.inverted:hover,
.pushable.inverted.active {
  background: var(--ux-global-color-accent-1);
}

.pushable.inverted .front {
  background: var(--ux-global-color-accent-1);
  color: var(--color-font);
}

.pushable.inverted:hover .front,
.pushable.inverted.active .front {
  background: var(--color-font);
  color: var(--ux-global-color-accent-1);
}

/* HEADER */
/* Navbar */
.navbar {
  --bs-navbar-color: var(--color-font);
  --bs-navbar-active-color: var(--color-font);
}

.navbar li {
  margin-top: 2rem;
}

/* Sfondo della navbar */
.nav-custom-bg {
  background-image: url("../img/header/navbar-bg.png");
}

/* Rimuove effetti sul burger menu */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  box-shadow: none;
  border: none;
}

.collapsing {
  transition: none !important;
  display: none !important;
  /* Evita che si veda il passaggio intermedio */
}

.navbar-collapse {
  background-color: var(--ux-dark-color);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.navbar-toggler {
  z-index: 2;
}

/* Animazione letto nella Navbar */
/* ----------------------------------------------
 * Generated by Animista on 2026-2-19 15:11:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.slide-fwd-center {
  display: inline-block;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-fwd-center {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
    /* Ingrandisce del 20%, simulando l'avvicinamento */
  }
}

/* Per evitare che il body scrolli quando il menu è aperto */
body:has(.navbar-collapse.show) {
  overflow: hidden;
}

/* Cambia l'icona del burger menu in una X quando è attivo */
.navbar-toggler[aria-expanded="false"] .icon-close {
  display: none;
  /* Nascondi la X */
}

.navbar-toggler[aria-expanded="false"] .icon-burger {
  display: inline-block;
  /* Mostra l'hamburger */
}

.navbar-toggler[aria-expanded="true"] .icon-burger {
  display: none;
  /* Nascondi l'hamburger */
}

.navbar-toggler[aria-expanded="true"] .icon-close {
  display: inline-block;
  /* Mostra la X */
}

/* BODY */
h1 {
  font: var(--ux-txt-h1);
}

h2 {
  font: var(--ux-txt-h2);
}

h3 {
  font: var(--ux-txt-h3);
}

h4 {
  font: var(--ux-txt-h4);
}

h5 {
  font: var(--ux-txt-h5);
}

p {
  font: var(--ux-txt-body);
}

/* Primo sfondo della homepage */
.first-background {
  background-image: url("../img/body/homepage/first-background.png");
}

.titolo-home {
  text-shadow:
    0 3px 0 #105f29,
    /* Primo gradino */
    0 6px 0 #105f29,
    /* Secondo gradino (leggermente più scuro) */
    0 9px 0 #105f29,
    /* Terzo gradino */
    0 12px 0 #105f29;
  /* Quarto gradino */
}

.blocco-overworld {
  position: absolute;
  left: 0%;
  right: 0%;
  width: 100vw;
  /* Copre tutta la larghezza */
  height: 32px;
  /* Altezza pari a quella del tuo blocco */
  background-image: url("../img/body/homepage/decorazioni/blocco-overworld96.png");
  background-repeat: repeat-x;
  /* Ripete il blocco solo in orizzontale */
  background-size: 32px 32px;
  /* Mantiene le proporzioni del blocco */

  /* Trucco per non far sfuocare i pixel sui display moderni */
  image-rendering: pixelated;

  /* Opzionale: un po' di ombra per dare profondità */
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3)),
  brightness(0.3);
  
}

/* FOOTER */
/* Sfondo del footer */
.footer-custom-bg {
  background-image: url("../img/footer/footer-bg.png");
}

#icon-twitter {
  margin-left: 2rem;
  margin-right: 2rem;
}

.footer-anchor {
  font: var(--ux-txt-h3);
  color: var(--color-font);
}

.footer-font-dinecraft {
  color: var(--ux-global-color-accent-2);
  font-family: Minercraftory, sans-serif;
  font-size: 1rem;
}

@media (min-width: 430px) {

 .blocco-overworld {

  background-image: url("../img/body/homepage/decorazioni/blocco-overworld96.png");
 
  
}
}

@media (min-width: 576px) {

  h1 {
    font: var(--ux-txt-h1-576);
  }

  h3 {
    font: var(--ux-txt-h3-576);
  }

  p {
    font: var(--ux-txt-body-576);
  }
}