/* Css */
:root {

    --ux-global-color-background: #1a3323;
    --ux-global-color-accent-1: #446a1b;
    --ux-global-color-accent-2: #727272;

    --ux-nether-color-background: #531f1d;
    --ux-nether-color-accent: #a51f20;

    --ux-end-color-background: #3f1e54;
    --ux-end-color-accent: #85647a;

    --color-font: #e4d8d4;
    --ux-dark-color: #232323;

    --ux-border-btn: 5px;

    --ux-footer-font: 400 1.2rem "DMSans", sans-serif;

    /* Base */
    --ux-font-DMSans: 'DMSans', sans-serif;
  
    /* Stili predefiniti (Shorthand) */
    /* Sintassi: weight size/line-height family */
    --ux-txt-h3: 400 2rem/3.1rem var(--ux-font-DMSans);
}

@font-face {
   font-family: 'Minercraftory';
   src: url('../font/Minercraftory.ttf') format('truetype');
}

@font-face {
   font-family: 'DMSans';
   src: url('../font/DMSans-Regular.ttf') format('truetype');
   font-weight: 400;
}

@font-face {
   font-family: 'DMSans';
   src: url('../font/DMSans-Medium.ttf') format('truetype');
   font-weight: 500;
}

@font-face {
   font-family: 'DMSans';
   src: url('../font/DMSans-Bold.ttf') format('truetype');
   font-weight: 700;
}

body {
    background-color: var(--ux-dark-color);
    color: var(--color-font);
}


/* Bottoni */

.btn-menu {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--ux-global-color-accent-1);
  --bs-btn-bg: var(--color-font);
  --bs-btn-border-color: var(--ux-global-color-accent-1);
  --bs-btn-border-radius: var(--ux-border-btn);

  --bs-btn-hover-color: var(--color-font);
  --bs-btn-hover-bg: var(--ux-global-color-accent-1);
  --bs-btn-hover-border-color: var(--color-font);

  --bs-btn-focus-shadow-rgb: var();

  --bs-btn-active-color: var(--color-font);
  --bs-btn-active-bg: var(--ux-global-color-accent-1);
  --bs-btn-active-border-color: var(--color-font);
}

.pushable {
  background: var(--ux-global-color-accent-1);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.pushable:hover, .pushable.active {
  background: var(--color-font)
}

.front {
  display: block;
  padding: 1em 2em;
  border-radius: 12px;
  font-size: 0.8rem;
  background: var(--color-font);
  color: var(--ux-global-color-accent-1);
  transform: translateY(-6px);
}

.pushable:hover .front, .pushable.active .front{
  background: var(--ux-global-color-accent-1);
  color: var(--color-font);
}

.pushable:active .front {
  transform: translateY(-2px);
}

/* Navbar */

.navbar {
    --bs-navbar-color: var(--color-font);
    --bs-navbar-active-color: var(--color-font);

    font-family: Minercraftory, sans-serif;
}

.navbar li {
    margin-top: 2rem;
}

/* Sfondo della navbar */
.nav-custom-bg {
    background-image: url("../img/header/navbar-bg.png");
}

.footer-custom-bg{
 background-image: url("../img/footer/footer-bg.png"); 
}

/* Rimuove effetti sul burger menu */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
    border: none;
}

.collapsing {
    transition: none !important;
    display: none !important; /* Evita che si veda il passaggio intermedio */
}

.navbar-collapse {
  background-color: var(--ux-dark-color);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.navbar-toggler{
  z-index: 1;
}

/* Letto NavBar */
/* ----------------------------------------------
 * Generated by Animista on 2026-2-19 15:11:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */

.slide-fwd-center {
    display: inline-block; /* Fondamentale per le animazioni di trasformazione */
    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-fwd-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2); /* Ingrandisce del 20%, simulando l'avvicinamento */
  }
}

/* Footer */

#icon-twitter{
  margin-left: 2rem;
  margin-right: 2rem;
}

.footer-anchor{
  font: var(--ux-txt-h3);
}

.footer-font-dinecraft{
  color: var(--ux-global-color-accent-2);
  font-family: Minercraftory, sans-serif;
  font-size: 1.5rem;
}
