.nav-pills .nav-link {
  color: var(--ux-color) !important;
  padding: 2rem 1rem !important;
  border: none;
  font: var(--ux-txt-h3);
}

.nav-pills .overworld-btn:not(.active) {
  background-color: var(--ux-global-color-background) !important;
}

.nav-pills .nether-btn:not(.active) {
  background-color: var(--ux-nether-color-background) !important;
}

.nav-pills .end-btn:not(.active) {
  background-color: var(--ux-end-color-background) !important;
}

.nav-pills .overworld-btn.active,
.nav-pills .nether-btn.active,
.nav-pills .end-btn.active {
  background-color: transparent !important;
  font-weight: bold;
}

#menu-section {
  transition: background 0.4s ease-in-out;
  padding-bottom: 2rem;
}

#menu-section:has(.overworld-btn.active) {
  background: url("../img/body/menu/pattern-overworld.png") rgba(26, 51, 35, 0.20) center !important;
}

#menu-section:has(.nether-btn.active) {
  background: url("../img/body/menu/pattern-nether.png") center !important;
}

#menu-section:has(.end-btn.active) {
  background: url("../img/body/menu/pattern-end.png") center !important;
}

#overworld .special-hamburger {
  background: rgba(26, 51, 35, 0.7);
  border: none;
  box-shadow:
    1px 1px 0px var(--ux-global-color-accent-1),
    2px 2px 0px var(--ux-global-color-accent-1),
    3px 3px 0px var(--ux-global-color-accent-1),
    4px 4px 0px var(--ux-global-color-accent-1),
    5px 5px 0px var(--ux-global-color-accent-1),
    6px 6px 0px var(--ux-global-color-accent-1),
    7px 7px 0px var(--ux-global-color-accent-1),
    8px 8px 0px var(--ux-global-color-accent-1),
    9px 9px 0px var(--ux-global-color-accent-1),
    10px 10px 0px var(--ux-global-color-accent-1),
    15px 15px 20px rgba(0, 0, 0, 0.15),
    inset 8px 8px 0px var(--ux-global-color-accent-1),
    /* Ombra interna */ 4px 4px 0px rgba(255, 255, 255, 0.05);
}

#overworld .special-hamburger:hover {
  /* In hover, lo spessore solido resta intatto, ma l'ombra sfocata finale si allarga! */
  box-shadow:
    1px 1px 0px var(--ux-global-color-accent-1),
    2px 2px 0px var(--ux-global-color-accent-1),
    3px 3px 0px var(--ux-global-color-accent-1),
    4px 4px 0px var(--ux-global-color-accent-1),
    5px 5px 0px var(--ux-global-color-accent-1),
    6px 6px 0px var(--ux-global-color-accent-1),
    7px 7px 0px var(--ux-global-color-accent-1),
    8px 8px 0px var(--ux-global-color-accent-1),
    9px 9px 0px var(--ux-global-color-accent-1),
    10px 10px 0px var(--ux-global-color-accent-1),
    20px 20px 30px rgba(0, 0, 0, 0.3),
    inset 8px 8px 0px var(--ux-global-color-accent-1),
    /* Ombra interna */ 4px 4px 0px rgba(255, 255, 255, 0.05);
  z-index: 10;
}

.special-title {
  font-family: "Minercraftory";
}

#overworld .mc-divider-line {
  flex-grow: 1;
  height: 5px;
  background-color: var(--ux-global-color-accent-1); /* Inserisci qui la tua variabile del verde */
  position: relative;
}

.mc-divider-line.left::after,
.mc-divider-line.right::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: inherit;
  top: 50%;
}

.mc-divider-line.left::after {
  right: 0;
  transform: translate(50%, -50%) rotate(45deg);
}

.mc-divider-line.right::after {
  left: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.sub-section {
  padding-bottom: 5rem !important;
}

.special-section {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

/* Cambio lingua */

.enchanted-text *:not(.price-container):not(.price-container *):not(.special-title) {
    font-family: 'Galactic', 'DMSans', sans-serif !important;
}

.floating-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
}

.floating-container.show-btn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

@media(min-width: 576px) {
  .special-section {
    padding-left: 7rem !important;
    padding-right: 7rem !important;
  }
}

@media (min-width: 992px) {
  .nav-pills .nav-link {
    font: var(--ux-txt-h2);
  }

  .sub-section {
    padding-right: 11rem !important;
    padding-left: 11rem !important;
  }

  .special-section {
    padding-left: 9rem !important;
    padding-right: 9rem !important;
  }
}
