@import url(card3d.css);
@import url(global.css);

.restaurant-hero {
    width: 100%;
}

.title-menu {
    margin-bottom: 2rem !important;
}

.card-3d {
    width: 100%;
    aspect-ratio: initial;
}

.torch-text {
    width: 70%;
    position: relative;
}

.torch {
    width: 30%;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.torch-text::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 150%;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.8) 0%, rgba(255, 0, 0, 0) 70%);
    filter: blur(40px);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.8s ease;
    pointer-events: none;
}

.torch-text-active::before {
    color: var(--color-font);
    opacity: 1;
}

.torch-text-active {
    color: var(--color-font);
}

.card-3d-background {
    background: url("../img/body/homepage/redstone-background.png") center / cover no-repeat;
}

#decoration-tree {
    position: absolute;
    width: 30%;
    left: 65%;
    top: 50%
}

#decoration-fungus {
    position: absolute;
    width: 30%;
    right: 69%;
    top: 69%
}

.lever {
    width: 100%;
}

@media (min-width: 576px) {
    .card-body {
        padding: 4rem 1rem 4rem 0rem !important;
    }

    .paragraph-torch {
        font: 400 1rem/1.5rem var(--ux-font-DMSans);
    }

}

@media (min-width: 768px) {
   
    .paragraph-torch {
        font: 400 1.2rem/1.7rem var(--ux-font-DMSans);
    }
}

@media (min-width: 1920px) {

    .torch {
        width: 30%;
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
    }

    .torch-text {
        width: 60%;
        position: relative;
    }

    .card-body {
        padding: 4rem 4rem 4rem 0rem !important;
    }

    .paragraph-torch {
        font: 400 1.8rem/2.3rem var(--ux-font-DMSans);
    }
    

}